@model Groupon.Models.Entity.Contact




<div class="span4">
    <h4>Contact Details</h4>
    <p>
        <br />
        <strong>Adress :</strong>  @Model.Adress
        <br />
        <br />
        <strong>Tel :  </strong>  @Model.Phone<br />
        <br />

    </p>
</div>
